<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fakebook</title>

    <link rel="stylesheet" href="/static/css/fakebook.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
</head>

<body>
    <h1>FAKEBOOK</h1>

    <label class="underline searc">IŠČI:</label>

    <input class="searc" placeholder="Išči po imenu" id="search">

    <br>

    <h2 id="nameupper"> Jasna Polak </h2>


    <figure>
        <div><img id="image" src="https://tlgrm.eu/_/stickers/031/5b8/0315b89c-458b-4634-bbc7-807064a55e59/192/17.webp" width="250px" alt=""></div>

        <br>


        <button type="button"> Dodaj kot prijatelja </button>

    </figure>

    <br>

    <ul class="border">
        <li><strong>IME:</strong> Pozdravljeni, sem Jasna, za prijatelje Jassy.</li>
        <li><strong>STAROST:</strong> Mlada.</li>
        <li><strong>KRAJ:</strong> Prihajam iz Štajerske.</li>
        <li><strong>IZOBRAZBA:</strong> DMS.</li>
        <li><strong>HOBI:</strong> Sprehajanje.</li>
    </ul>


</body>

</html>